<h1>Routes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.title %></td>
        <td><%= link_to 'Show', [:admin, route] %></td>
        <td><%= link_to 'Edit', edit_admin_route_path(route) %></td>
        <td><%= link_to 'Destroy', [:admin, route], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_admin_route_path %> <br/>

<%= link_to 'Back to Main Page', welcome_index_path %>
