<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Stations in route:</strong>
  <% if @route.railway_stations.empty? %>
    List empty
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="100px">Title</td>
          <td>Position</td>
          <td>Arrive Time</td>
          <td>Departure Time</td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td> <%= station.title %> </td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
            <td>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Изменить" %>
            </td>
            <% end %>

            <%= form_tag update_times_admin_railway_station_path(station), method: :patch do %>
            <td>
              <%= time_field_tag :arrive_time, station.arrive_time_in(@route) %>
            </td>
            <td>
              <%= time_field_tag :departure_time, station.departure_time_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Изменить" %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong>Trains with current route:</strong>
  <% if @route.trains.empty? %>
    List empty
  <% else %>
    <ul>
    <% @route.trains.each do |train| %>
    <li><%= train.number %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_route_path(@route) %> |
<%= link_to 'Back', admin_routes_path %>
