<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current Station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Not station
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    No routes
  <% end %>
</p>

<p>
  <strong>Carriages:</strong>
  <% if @train.carriages.empty? %>
    List empty
  <% else %>
    <ul>
    <% @train.carriages.each do |carriage| %>
    <li><%= carriage.carriage_type %>, Up: <%= carriage.count_up %>, Down: <%= carriage.count_down %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
