<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current Station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Not station
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    No routes
  <% end %>
</p>

<p>
  <strong>Carriages:</strong>
  <% if @train.carriages.empty? %>
    List empty
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      <% @train.sort_carriages.each do |carriage| %>
        <tr>
          <td><%= link_to "#{carriage.number}", carriage_path(carriage)%></td>
          <td><%= carriage.type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</p>

<%= @train.calculate_places('CoupeCarriage', :top_seats) %>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
