<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.table_fio') %></th>
      <th><%= t('.table_passport') %></th>
      <th><%= t('.table_start') %></th>
      <th><%= t('.table_end') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.passenger_fio %></td>
        <td><%= ticket.passport_number %></td>
        <td><%= ticket.begin_station.title %></td>
        <td><%= ticket.end_station.title %></td>
        <td><%= link_to t('common.show'), ticket_path(ticket) %></td>
        <td><%= link_to t('common.destroy'), ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new'), search_path, :class => "btn btn-primary" %>
