<h1>New Ticket</h1>

<%= form_for(@ticket) do |f| %>
  <p>
    <%= f.label :passenger_fio, "Passenger FIO:" %>
    <%= f.text_field :passenger_fio %>
  </p>

  <p>
    <%= f.label :passport_number, "Passport:" %>
    <%= f.text_field :passport_number %>
  </p>

  <%= f.hidden_field :train_id, value: @train.id %>
  <%= f.hidden_field :begin_station_id, value: @begin.id %>
  <%= f.hidden_field :end_station_id, value: @end.id %>
  <%= f.submit "Buy Ticket" %>
<% end %>
