<%= form_for(@carriage) do |f| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= f.label :train, "Train" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :type, "Type of carriage" %>
    <%= f.select :type, ([CoupeCarriage.name, EconomyCarriage.name, LuxCarriage.name, SeatCarriage.name]) %>
  </div>

  <div class="field">
    <%= f.label :top_seats, "Count Top places" %>
    <%= f.select :top_seats, ((0..10).map {|i| [i,i] }) %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats, "Count Bottom places" %>
    <%= f.select :bottom_seats, ((0..10).map {|i| [i,i] }) %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats, "Count Side Top places" %>
    <%= f.select :side_top_seats, ((0..10).map {|i| [i,i] }) %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats, "Count Side Bottom places" %>
    <%= f.select :side_bottom_seats, ((0..10).map {|i| [i,i] }) %>
  </div>

  <div class="field">
    <%= f.label :seat_places, "Count Seat places" %>
    <%= f.select :seat_places, ((0..10).map {|i| [i,i] }) %>
  </div>

  <div class="actions">
    <%= f.submit "#{@carriage.new_record? ? 'Create' : 'Edit'}" %>
  </div>
<% end %>
