<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @carriage.class %>
</p>

<p>
  <strong>Current Train:</strong>
  <% if @carriage.train.present? %>
    <%= @carriage.train.number %>
  <% else %>
    Not train
  <% end %>
</p>

<p>
  <strong>Places:</strong>
  Top Seats: <%= @carriage.top_seats %> |
  Bottom Seats: <%= @carriage.bottom_seats %> |
  Side Top: <%= @carriage.side_top_seats %> |
  Side Bottom: <%= @carriage.side_bottom_seats %> |
  Seat Places: <%= @carriage.seat_places %>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>
