<h1> Билет </h1>

<p> Ticket buyers: <%= @ticket.user.email %> </p>
<p> Train: <%= @ticket.train.number %> </p>
<p> Begin Station: <%= @ticket.begin_station.title %></p>
<p> End Station: <%= @ticket.end_station.title %> </p>

<p> Passenger FIO: <%= @ticket.passenger_fio %> </p>
<p> Passport_number: <%= @ticket.passport_number%> </p>

<%= link_to 'Back', admin_tickets_url %>
