<h1>Find Tickets</h1>

<div class="row">
  <%= form_tag search_path do %>
    <div class="col-md-4">
      <%= label :begin_station_id, "Begin Station" %>
      <%= select_tag :start_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title), class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= label :end_station_id, "End Station" %>
      <%= collection_select :stations, :end_station_id, RailwayStation.all, :id, :title %>
    </div>
    <div class="col-md-4">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<table>
  <tbody>
      <tr>
        <%= form_tag search_path do %>
        <td>
          <%= label :begin_station_id, "Begin Station" %>
          <%= collection_select :stations, :start_station_id, RailwayStation.all, :id, :title %>
       </td>
        <td>
          <%= label :end_station_id, "End Station" %>
          <%= collection_select :stations, :end_station_id, RailwayStation.all, :id, :title %>
          <%= submit_tag "Search" %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>

<p> Search Result </p>
<% if @trains %>
  <% @trains.each do |train| %>
    <p>
    Train: <%= train.number %> | <%= train.route.title %> | <%= train.route.start_time.strftime("%H:%M") %> | <%= train.route.end_time.strftime("%H:%M") %>
    <%= link_to 'Buy Ticket', new_ticket_path(train_id: train.id, start_station_id: @start_station, end_station_id: @end_station) %>
    </p>
  <% end %>
<% end %>
