<h1>Find Tickets</h1>

<div class="row">
  <%= form_tag search_path do %>
    <div class="col-md-4">
      <%= collection_select :stations, :start_station_id, RailwayStation.all, :id, :title, {}, {:class=>'form-control'} %>
    </div>
    <div class="col-md-4">
      <%= collection_select :stations, :end_station_id, RailwayStation.all, :id, :title, {}, {:class=>'form-control'} %>
    </div>
    <div class="col-md-4">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<h2> Search Result </h2>
<% if @trains %>
  <% @trains.each do |train| %>
    <p>
    Train: <%= train.number %> | <%= train.route.title %> | <%= train.route.start_time.strftime("%H:%M") %> | <%= train.route.end_time.strftime("%H:%M") %>
    <div class='btn btn-success'><%= link_to 'Buy Ticket', new_ticket_path(train_id: train.id, start_station_id: @start_station, end_station_id: @end_station) %></div>
    </p>
  <% end %>
<% end %>
