<%= form_for [:admin, @train] do |f| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :current_station, "Current Station" %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :route, "Route" %>
    <%= f.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :rev_carriages_sort, "Reverse Sort Carriages" %>
    <%= f.check_box :rev_carriages_sort %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
